<p><strong><%= Comment.model_name.human %>:</strong></p>
<% unless @comments.size == 0 %>
  <table>
    <thead>
      <tr>
        <th><%= Comment.human_attribute_name(:content) %></th>
        <th><%= Comment.human_attribute_name(:created_at) %></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日') %></td>
          <td><%= link_to t('views.common.destroy'), '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>