<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<p><strong><%= Comment.model_name.human %>:</strong></p>
<% if @comments %>
  <% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <% end %>
<% end %>

<%= render 'comments/comments_form' %>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
